.view { 
  background: url("https://www.lifeatspotify.com/images/1000x1000/Start-2000.jpg") #db332a;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 2rem;
}

.text_box {
  color: white;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.text_box > p {
  font-size: 1.05rem;
  margin-bottom: 0px;
}

.text_box span {
  font-weight: 700;
}


.heading {
  font-size: 4.5rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.btn{
  padding: 1rem 1.75rem;
  border-radius: 3rem;
  background-color: black;
  color: #ffffff;
  width: fit-content;
  /* font-size: 24px; */
  font-weight: 500;
}

.container {
  overflow-y: hidden;
  width: 100%;
  max-width: 550px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 80px;

}

.list > div {
  padding: 0.75rem 2rem;
  border-radius: 1.15rem;
  padding-right: 3.5rem;
  min-height: 80px;
  min-width: 280px;
  cursor: pointer;
  

}

.list_item_a {
  background-color: #ffcdd2;
  align-self: flex-start;
}

.list_item_b {
  background-color: #ffffff;
  align-self: center;
}

.list_item_c {
  background-color: #c3f0c8;
  align-self: flex-start;
}

.list_item_d {
  background-color: #ffffff;
  align-self: flex-end;
}

.list_item_e {
  background-color: #ffffff;
  align-self: flex-start;
}

.list_item_f {
  background-color: #c3f0c8;
  align-self: center;
}

.list h3 {
  color: #19141466;
  font-weight: 500;
  font-size: 15.5px;
  margin-bottom: 0.5rem;
}

.list p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0px;
}