.container{
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  position: relative;
}

.cardSize{
  width: 85vw;
  height: 86vh;
  padding: 2rem;
  border-radius: 1em;
}